<%-include('partials/Encabezado.html');%>
<body>
    <form action="/index" method="post">
        <br>
        <div class="container p-3 mb-2 bg-primary text-white">
            <div class="form-group row bg-">
                <label for="" class="col-sm-2 col-form-label">Num Boleto</label>
                <div class="col-sm-10">
                    <input type="number" name="nboleto" id="nboleto" required="true">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Destino</label>
                <div class="col-sm-10">
                    <input type="text" name="destino" id="destino" required="true">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Nombre del Cliente</label>
                <div class="col-sm-10">
                    <input type="text" name="ncliente" id="ncliente" required="true">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Años cumplidos</label>
                <div class="col-sm-10">
                    <input type="number" name="añosc" id="añosc" required="true">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Tipos de viaje</label>
                <div class="col-sm-10">
                    <select name="tviaje" id="tviaje">
                        <option value="1">Sencillo</option>
                        <option value="2">Doble</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label" style="font-size: small;">Precio</label>
                <div class="col-sm-10">
                    <input type="text" name="precio" id="precio" required="true">
                </div>
            </div>
            <br>
            <hr>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit">Calcular</button>
                    <button type="reset">Limpiar</button>
                </div>
            </div>
                <% 
                        let subt=0;
                        let imp=0;
                        let descuento=0;
                        let tot=0;

                        subt=precio;
                        imp= subt*0.16;

                        if(tviaje==2){
                            subt=subt*1.8;
                            imp=subt*0.16;
                        }

                        if(añoscum>=60){
                            descuento=0.5;
                            tot=(Number(subt) + Number(imp));
                            descuento = (Number(tot) * descuento)
                            tot=(Number(tot) - descuento);
                        }else{
                            tot=(Number(subt) + Number(imp));
                        }
                    %>	
				
                <br>
                <div class="container p-3 mb-2">
                    <h3>Resumen de la cotización</h3>
                    <br/>
                    Subtotal:<br/>
                    <input type="text" class="form-control" disabled="true" name="subt" value="<%=subt%>">
                    Impuesto 16%:<br/>
                    <input type="text" class="form-control" disabled="true" name="imp" value="<%=imp%>">
                    Descuento:<br/>
                    <input type="text" class="form-control" disabled="true" name="descuento" value="<%=descuento%>">
                    Total a pagar:<br/>
                    <input type="text" class="form-control" disabled="true" name="tot"value="<%=tot%>">
                </div>
        </div>
        
    <%-include('partials/piePagina.html');%>
</body>
</html>